@import "tailwindcss";

/* Tambahan custom theme */
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Tambahan agar background selalu terang */
body {
  background-color: #f9fafb; /* gray-50 */
  color: #1f2937; /* gray-800 */
}